.modal-background{
    background-color: rgba(0, 0, 0, 0.562);
    z-index: 5;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    font-family: 'Noto Sans', sans-serif;
    font-weight: lighter;
    overflow: auto;
}


.hidden{
    transition: all .5s ease;
    visibility: hidden;
}


.modal-content{
    position: absolute;
    background-color: var(--fcolor1);
    border-radius: 1rem;
    display: grid;
    grid-template-rows: 3.5rem 1fr 3.5rem;
    grid-template-columns: 1fr;
}

.shown{
    transition: all .6s ease;
    top: 5rem;
}

.hide{
    transition: all .6s ease;
    top: -240%;
}


.modal-header, .modal-body, .modal-footer{
    padding: 0 1rem;
}

.modal-body{
    padding: 1rem;
    font-size: .8rem;
}

.modal-header, .modal-footer{
    height: 100%;
}


.modal-header{
    padding-top: 1rem;
    font-size: medium;
    position: relative;
    border-bottom: 1px solid var(--secondary-color);
    color: var(--info-color);
}


.modal-header .modal-cancel-button{
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: var(--primary-color);
    cursor: pointer;
    font-size: 18px;
}

.modal-header .modal-cancel-button:hover{
    transform: scale(1.1);
}

.modal-footer{
    text-align: right;
    padding-bottom: .5rem;
    padding-top: .5rem;
    border-top: 1px solid var(--secondary-color);
    display: flex;
    justify-content: right;
    align-items: center;
}


.modal-button {
    height: 2rem;
    min-width: 6rem;
    border-radius: .5rem;
    font-weight: lighter;
    background-color: var(--info-color-dark);
    color: var(--fcolor1);
    outline: none;
    border: none;
    cursor: pointer;
    margin: .3rem
}


.modal-button:hover {
    transition: all .3s ease;
    filter: brightness(1.1);
}

.ok-button{
    background-color: var(--primary-color);
    color: var(--fcolor1);
}

.input-group{
    display: flex;
}

.input-group label{
    background-color: var(--primary-color);
    color: var(--fcolor1);
    border-left: 1px solid gray;
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
    padding: .3rem .5rem;
    border-radius: .5rem 0 0 .5rem;
}


.input-group input{
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
    padding: .3rem .5rem;
}
