{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block title %}RMK - Register{% endblock %}

{% block header %}{% endblock %}

{% block body %}
<div class="text-center container form-style">
    <main>
        <form action="" method="post">{% csrf_token %}
            <img class="mb-4 text-center" src="{% static 'img/usuario.png' %}" width="90" height="90">
            <div class="text-start">
                {% bootstrap_form register_form %}
            </div>
            <button type="submit" class="w-100 btn btn-danger">Register</button>
            <p class="mt-5 mb-3 text-muted">Copyright © {% now 'Y' %} ResumeMK</p>
        </form>
    </main>
</div>
{% endblock %}

{% block footer %}{% endblock %}