<div class="modal fade" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true" id="modal-alert">
    <div class="modal-dialog">
        <div class="modal-content" id="modal-content">
            <div class="row">
                <div class="col-11" id="alert-body-message"></div>
                <div class="col-1">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
            </div>
        </div>
    </div>
</div>